<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ProPublica API key your key is: 2lUCEQErUjMba8vJdJhZBXWdthaOwl7V4uiOUtXJ -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Senate Data</title>

</head>

<body>
    <div class="container-fluid" id="app">
        <div class="row align-items-center">
            <div class="col-9">
                <img src="images/openGov.jpeg" alt="logo del congreso con el sol" class="img-fluid img-thumbnail float-left">
            </div>
            <div class="col align-self-end">
                <p><a href="mailto:info@tgif.net">info@tgif.net</a></p>
            </div>
        </div>

        <div class="row sticky-top">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">

                    <a class="navbar-brand mb-0 h1" href="#">TGIF</a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Congress 113</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                    <a class="dropdown-item" href="house-data.html">House</a>
                                    <a class="dropdown-item active" href="senate-data.html">Senate</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Attendance</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="house-attendance.html">House</a>
                                    <a class="dropdown-item" href="senate-attendance.html">Senate</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Party Loyalty</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item" href="house-loyalty.html">House</a>
                                    <a class="dropdown-item" href="senate-loyalty.html">Senate</a>
                                </div>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <header>
            <div>
            </div>
        </header>

        <!--Table container-->

        <div class="row">
            <div class="col">

                <h2>Senators</h2>

                <p>First convened in 1789, the composition and powers of the Senate are established in Article One of the U.S. Constitution. Each state is represented by two senators, regardless of population, who serve staggered six-year terms. The Senate
                    has several exclusive powers not granted to the House, including consenting to treaties as a precondition to their ratification and consenting to or confirming appointments of Cabinet secretaries, federal judges, other federal executive
                    officials, military officers, regulatory officials, ambassadors, and other federal uniformed officers, as well as trial of federal officials impeached by the House.</p>



                <div class="d-inline">
                    <label> Filter by Party:  </label>
                    <label><input type="checkbox" v-model="checkedParty" value="R">Republican</label>
                    <label><input type="checkbox" v-model="checkedParty" value="D">Democrats</label>
                    <label><input type="checkbox" v-model="checkedParty" value="ID">Independents</label>
                </div>

                <div class="float-right">
                    <label>Filter by State: </label>
                    <select v-model="select" name="members">
                                <option value="all">- ALL -</option>
                                <option v-for="state in orderStates()" v-bind:value="state">{{ state }}</option>
                            </select>
                </div>


                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm" id="congressDataTable">
                        <thead>
                            <tr>
                                <th>Full Name</th>
                                <th>Party</th>
                                <th>State</th>
                                <th>Seniority</th>
                                <th>% Votes w/ Party</th>
                            </tr>
                        </thead>

                        <tbody id="table-data-body">
                            <tr v-for="member in filterMember()">
                                <td><span v-html="member.full_name"></span></td>
                                <td>{{ member.party }}</td>
                                <td>{{ member.state }}</td>
                                <td>{{ member.seniority }}</td>
                                <td>{{ (member.votes_with_party_pct).toFixed(2) }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <span class="navbar-text">&copy; 2016 TGIF | All Rights Reserved</span>
                </nav>
            </div>
        </div>

    </div>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>

</body>

</html>